
<h1>{{home.saludo}}</h1>
<form>
  <input class="form-control" type="text" ng-model="buscador" placeholder="Buscar carrera"/>
</form>
<article ng-repeat="item in home.carreras | filter : buscador" ng-if="buscador.length &gt;= 0">
  <h4>{{item.carrera}}</h4><i>Tipo: {{item.tipo | lowercase}}</i>
  <ul>
    <li>Rank Demanda {{item.rank_demanda}}</li>
    <li>Rank Post {{item.rank_post}}</li>
    <li>Rank Saturación {{item.rank_saturacion}}</li>
  </ul>
  <div class="colores flex-center">
    <div class="box {{item.campo_laboral}}">Campo Laboral</div>
    <div class="box {{item.competitividad}}">Competitividad </div>
  </div>
  <hr/>
</article>