
<header><img class="logo1" src="./public/assets/img/buena-pega-mejor-vida.png" alt="Buena pega, Mejor vida"/>
  <h1><img class="logo2" src="./public/assets/img/trabajando-com.png" alt="Trabajando.com"/></h1>
</header>
<main>
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <section class="llamado border-bottom"><img class="img-saturacion" src="./public/assets/img/saturacion-carreras-2016.png" alt="Saturación Carreras 2016"/>
          <p>Porque sabemos que <strong>elegir la carrera</strong> que vas a estudiar es una decisión difícil y trascendente para tu futuro, es que <strong>queremos entregaste esta guía laboral por carrera,</strong> donde encontrarás <strong>información actualizada sobre la empleabilidad</strong> de cada una de ellas.</p>
        </section>
        <section><img class="img-analizar" src="./public/assets/img/analizar-carrera.png" alt="Analizar Carrera"/>
          <select class="form-control" ng-model="home.carreraElegida">
            <option value="">Elige una carrera</option>
            <option ng-repeat="item in home.carreras | orderBy:'carrera' " ng-model="item.id">{{ item.carrera }}</option>
          </select>
          <article class="carrera-info" ng-repeat="item in home.carreras | filter : home.carreraElegida" ng-if="home.carreraElegida">
            <p ng-if="item.campo_laboral == 'bueno' &amp;&amp; item.competitividad == 'bueno' ">Carrera Ideal, mucho campo laboral y poca disponibilidad de profesionales para el mercado.</p>
            <p ng-if="item.campo_laboral == 'bueno' &amp;&amp; item.competitividad == 'medio' ">Buena Carrera, ya que tiene un campo laboral amplio y número de profesionales adecuado para cubrir la demanda, en este segmento encontraras carreras muy interesante con niveles de saturación medios y bajos.</p>
            <p ng-if="item.campo_laboral == 'bueno' &amp;&amp; item.competitividad == 'malo' ">Carrera Riesgosa, ya que si bien el campo laboral es amplio tiene una gran cantidad de profesionales aptos para cubrir las vancantes, en este segmento te encontraras careras de alta y baja saturación, ¡elije bien!.</p>
            <p ng-if="item.campo_laboral == 'medio' &amp;&amp; item.competitividad == 'bueno' ">Carerra Interesante, ya que posee un campo laboral atractivo y pocos profesionales capaces de cubrir las vacantes, en este segmento te encontraras con interesantes carreras con niveles de saturación bajos y probablemente emergentes.</p>
            <p ng-if="item.campo_laboral == 'medio' &amp;&amp; item.competitividad == 'medio' ">Carrera de Nicho, tiene un campo laboral medio y una cantidad de profesionales adecuados a las necesidades. La dispersión en la Saturación de este segmento es amplia, pero en general son carreras estables donde puedes encontrar interesantes oportunidades.</p>
            <p ng-if="item.campo_laboral == 'medio' &amp;&amp; item.competitividad == 'malo' ">Carrera Riesgosa, ya que si bien el campo laboral medio, pero cantidad de profesionales que exceden las necesidades de mercado. Encontraras carreras con niveles de saturación alta, salvo un par de excepciones. Debes elegir muy bien!.</p>
            <p ng-if="item.campo_laboral == 'malo' &amp;&amp; item.competitividad == 'bueno' ">Carreras Emergentes, un campo laboral reducido, pero tambien muy pocos candidatos, pueden tranformarse en oportunidad, pero su vez pueden ser riesgosas. Ojo con tu elección.</p>
            <p ng-if="item.campo_laboral == 'malo' &amp;&amp; item.competitividad == 'medio' ">Carrera de Nicho, tiene un campo estrecho y una cantidad de profesionales adecuados a las necesidades, por lo cual puede ser una oportunidad, pero a su vez pueden ser muy riesgosa.</p>
            <p ng-if="item.campo_laboral == 'malo' &amp;&amp; item.competitividad == 'malo' ">Carrera con con bajo campo laboral y alto número de postulantes, segmento más riesgoso.</p><img class="img-ranking" src="./public/assets/img/ranking.png" alt="Ranking"/>
            <div class="ranking">
              <div class="demanda center">
                <div class="circle verde">{{item.rank_demanda}}</div><strong>Ranking <br/> Demanda</strong>
              </div>
              <div class="postulaciones center">
                <div class="circle rojo">{{item.rank_post}}</div><strong>Ranking <br/> Postulaciones</strong>
              </div>
              <div class="saturacion center">
                <div class="circle burdeo">{{item.rank_saturacion}}</div><strong>Ranking <br/> Saturación</strong>
              </div>
            </div>
          </article>
        </section>
        <section class="leyendas">
          <article>
            <label class="verde">Ranking Demanda</label>
            <p>A menor ranking la carrera se encuentra dentro de las más solicitadas por las empresas en Trabajando.com, es decir, un mayor campo laboral, Color Rojo indica baja demanda, color amarillo indica demanda media, color verde indica, alta demanda.</p>
          </article>
          <article>
            <label class="rojo">Ranking de Competitividad</label>
            <p>A menor ranking la carrera se encuentra dentro de las postuladas por las personas en Trabajando.com, es decir, un aviso de Trabajando.com recibe un mayor numero de postulaciones por lo que un postulante tiene mayor competencia para alcanzar un trabajo.Color Rojo indica alto nivel de postulantes, Color Amarillo indica nivel de postulantes medio, color verde indica nivel de postulantes bajo.</p>
          </article>
          <article>
            <label class="burdeo">Ranking Saturación</label>
            <p>Es la mezcla de las variables anteriores que indica el nivel de saturación general de las distintas carreras. A menor ranking más saturada, indica el numero de veces más o menos de candidadtos respecto del promedio de mercado (1). Color Verde indica nivel de saturación Baja, color amarillo saturación media o cercana al promedio de mercado y color rojo indica saturación alta.</p>
          </article>
        </section>
      </div>
    </div>
  </div>
</main>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <p>Este estudio se construye a partir de las publicaciones de avisos de reclutamiento en la Comunidad Laboral de Trabajando.com y las postulaciones recibidas en cada uno de ellos.</p>
        <p>Muchos de los avisos de reclutamiento contienen específicamente las carreras e instituciones que preferentemente requieren los reclutadores, las cuales se ordenan de acuerdo a la clasificación del Ministerio de Educación (Área Carrera Genérica) que agrupa las más de 14.700 carreras reconocidas por el ministerio en 283.</p>
        <p>El estudio considera 202 de las 283 carreras genéricas, las cuales pueden ser representadas razonablemente.</p>
        <p>La información contenida en el presente estudio refleja el comportamiento de la oferta y demanda de empleo en Trabajando.com, durante el 2016, por lo que algunas carreras, por su naturaleza y uso de otras fuentes de reclutamiento, podrían no estar representadas correctamente. Se recomienda comparar estos datos con otras fuentes de información o expertos.</p>
      </div>
      <div class="col-sm-4"><img class="fullwidth" src="./public/assets/img/trabajando-com.png" alt="Trabajando.com"/></div>
    </div>
  </div>
</footer>