@import './fonts';

$bueno : #2ecc71;
$medio : #f1c40f;
$malo : #c0392b;
$verde : green;
$rojo : red;
$burdeo : purple;

.bueno{ background: $bueno;	}
.medio{ background: $medio;	}
.malo{ background: $malo; }
.verde{ background: $verde;	}
.rojo{ background: $rojo;	}
.burdeo{ background: $burdeo; }

body{
	font-family: 'Apex New Book';
}

.flex-center{	
	align-items: center;
	display: flex;
	justify-content: center;
}

.circle{	
	border-radius: 100%;
	color: white;
	height: 30px;
	width: 30px;
	@extend .flex-center;	
}

section{
	border-bottom: 1px solid;
	margin: 1em 0;
	padding: 1em 0;
}

label{
	color: white;
	padding: 6px;
}

@import './mediaqueries';