$bueno : #2ecc71;
$medio : #f1c40f;
$malo : #c0392b;

.flex-center{	
	align-items: center;
	display: flex;
	justify-content: center;
}

.box{	
	align-items: center;
	color: white;
	display: flex;
	height: 30px;
	justify-content: center;
	width: 200px;
	&.bueno{
		background: $bueno;
	}
	&.medio{
		background: $medio;
	}
	&.malo{
		background: $malo;
	}
}