@import './fonts';

$bueno : #238c00;
$medio : #f1c40f;
$malo : red;
$tbj : #386fa8;
$azul : #0f2553;
$gris : #6e7174;

.bueno{ background: $bueno;	}
.medio{ background: $medio;	}
.malo{ background: $malo; }

body{
	background: url('../img/background.jpg') no-repeat center 40% / 1800px fixed;
	font: 16px 'Apex New Book';
}

header{
	align-items: center;
	background: $tbj;
	display: flex;
	justify-content: space-between;
	padding: 20px;
	h1{
		margin: 0;
	}
}

p{
	color: #333333;
	line-height: 24px; 
	strong{
		color: $azul;
	}
}

section{
	margin: 1em 0;
	padding: 1em 0;
}

select.form-control{
	margin-bottom: 1em;
	width: inherit;
}

label{
	color: $azul;
	font-family: 'Apex New Bold';
	margin-bottom: 10px;
	padding: 6px 0;
}

footer{
	background: $tbj;
	border-top: 4px solid white;
	color: white;
	padding: 20px 0;
	text-align: justify;
	p{
		color: white;
	}
	.row{
		display: flex;
		align-items: center;
	}
	.col-sm-4{
		display: flex;
		justify-content: flex-end;
	}

	a{
		color: $medio;
		display: block;
		text-align: center;
		&:hover{
			color: $medio;
		}
		img{
			margin-top: 10px;
		}
	}
}

.img{
	&-saturacion{
		padding-left: 50px;
	}
	&-analizar{
		padding-left: 40px;
		width: 400px;
	}
	&-ranking{
		padding-left: 60px;
	}
}

.leyendas{
	article{
		margin-bottom: 1.5em;
	}
}

.llamado{
	p{
		font-size: 20px;
	}
}

.flex-center{	
	align-items: center;
	display: flex;
	justify-content: center;
}

.circle{
	$ancho: 65px;
	border-radius: 100%;
	font-family: 'Apex New Bold';
	font-weight: bold;
	color: white;
	height: $ancho;
	font-size: 1.5em;
	width: $ancho;
	margin: 0 auto 10px;
	@extend .flex-center;	
}

.border-bottom{
	border-bottom: 1px solid $tbj;
}

.ranking{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 1em;
	div{
		line-height: 1em;
	}
}

.center{
	text-align: center;
}

@keyframes opacidad{
	0% {opacity: 0}
	100% {opacity: 1}
}

.carrera-info{
	@extend .border-bottom;
	padding-top: 1em;
	padding-bottom: 1em;
	animation: opacidad 1.5s;
	p{
		@extend .border-bottom;
		padding-bottom: 1em;
	}
}

@import './mediaqueries';