@media screen and (max-width: 1800px){
	body{
		background-size: 1800px; 
	}
}

@media screen and (max-width: 800px){
	body{
		background-color: #E4E8F4; 
		background-image: none;
	}
}

@media screen and (max-width: 768px){
	p{
		text-align: justify;
	}

	img,
	img[class^="img-"]{
		display: block;
		margin: 0 auto;
		width: 90%;
	}

	img[class^="img-"]{
		padding: 0;
		margin-bottom: 10px;
	}

	footer{
		.row{ 
			display: block;
		}
		img{
			margin-top: 1.5em;
			width: inherit;
		}
	}

	select.form-control{
		border: 3px solid #999;
		width: 100%;
	}	

}

@media screen and (max-width: 480px){
	header{
		flex-direction: column-reverse;
		.logo2{
			margin-bottom: 10px;
			width: 90%;
		}
		.logo1{
			width: 80%; 
		}
	}
}