@media screen and (max-width: 768px){
	body{
		background-color: #b7c3d9; 
		background-image: none;
	}

	p{
		text-align: justify;
	}

	footer{
		.row{ 
			display: block;
		}
		img{
			margin-top: 2em; 
		}
	}

	img,
	img[class^="img-"]{
		display: block;
		margin: 0 auto;
		width: 90%;
	}

	img[class^="img-"]{
		padding: 0;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 480px){
	header{
		flex-direction: column-reverse;
		.logo2{
			margin-bottom: 10px;
			width: 90%;
		}
		.logo1{
			width: 80%; 
		}
	}
}